{% extends "templates/index.njk" %}
{% set active_menu = 'home' %}
{% block content %}
<!-- Report -->
{% include "templates/components/empty-box.njk" %}
<div class="report-wrapper">
    <div class="d-flex justify-content-between">
        <div>
            <div id="titleSection" style="display:none">
                <h3 class="font-weight-bold text-dark">Edit</h3>
            </div>
        </div>
        <div id="buttonSection" class="mb-3 text-right" style="white-space: nowrap;">
            <button class="btn btn-link btn-section-action" id="rearrangeBtn" type="button">Rearrange</button>
            <button class="btn btn-link btn-section-action" id="editBtn" type="button">Edit</button>
            <button class="btn btn-link btn-section-action" id="targetBtn" type="button">Target</button>
            <button class="btn btn-link btn-section-action" id="seeAllActivity" type="button">See All</button>
            <button class="btn btn-link btn-section-done" id="doneAction" type="button" style="display:none">Done</button>
        </div>
    </div>
    <div id="float-wrapper" class="draggable">
    </div>
    <div id="text-wrapper">
    </div>
    <!-- template row activity -->

    <div id="media-wrapper" class="mt-5">
        <div class="d-flex justify-content-between">
            <div>
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Filter
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Action</a>
                    </div>
                </div>
            </div>
            <div>
                {# <button class="btn btn-secondary rounded-circle" data-toggle="modal" data-target="#modalFormMedia"><i class="fa fa-plus"></i></button> #}
                <button class="btn btn-danger rounded-circle" data-toggle="modal" data-target="#modalFormMediaCamera"><i class="fa fa-camera"></i></button>
                <button id="btnMediaImage" class="btn btn-secondary rounded-circle" data-toggle="modal" data-target="#modalFormMedia"><i class="fa fa-image"></i></button>
                <button id="btnMediaVideo" class="btn btn-secondary rounded-circle" data-toggle="modal" data-target="#modalFormMedia"><i class="fa fa-video"></i></button>
                <div class="modal fade" id="modalFormMedia" tabindex="-1" role="dialog" aria-labelledby="modalFormMediaLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header d-flex justify-space-between align-items-center p-0" style="border-bottom: 1px solid #d6caca">
                                <div class="modal-tabs">
                                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">
                                                <h5 class="modal-title">Upload Media</h5>
                                            </a>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">
                                                <h5 class="modal-title">Category</h5>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div>
                                    <button type="button" class="close m-0 p-0" data-dismiss="modal" aria-label="Close" style="width: 50px">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                {# <h5 class="modal-title" id="modalFormMediaLabel">Media</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button> #}
                            </div>
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                    <div class="form-media-wrapper">
                                        <div class="modal-body">
                                            <div class="video-type" style="display:none">
                                                <div class="form-group">
                                                    <label>Type</label>
                                                    <select name="type" class="form-control">
                                                        <option value="video" selected>Video</option>
                                                        <option value="youtube">Youtube</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="image-type" style="display: none">
                                                <input type="hidden" name="type" value="image" />
                                            </div>
                                            <div class="form-group">
                                                <label>Category</label>
                                                <select name="category_id" class="form-control">
                                                </select>
                                            </div>
                                            {# <div class="form-group file-media">
                                                <label>Upload</label>
                                                <div class="custom-file">
                                                    <input name="file" type="file" class="custom-file-input" id="fileMedia" accept="image/*">
                                                    <label class="custom-file-label" for="fileMedia">Choose file</label>
                                                </div>
                                            </div> #}
                                            <div class="youtube-link-input" style="display:none">
                                                <div class="form-group youtube-link-input">
                                                    <label>Youtube Link</label>
                                                    <input type="text" name="youtube_link" class="form-control" placeholder="https://www.youtube.com/watch?v=xxxxxxxx"/>
                                                </div>
                                                <div class="form-group">
                                                    <label>Preview</label>
                                                    <div class="preview-area"></div>
                                                </div>
                                            </div>
                                            <div class="media-input-dropzone form-group">
                                                <label>Upload</label>
                                                <div class="dropzone-container">
                                                    <div class="dropzone-area">
                                                        <div class="dropzone-info text-center">
                                                            <i class="fa fa-upload"></i><br/>
                                                            <b>Drop files here or click to upload.</b>
                                                        </div>
                                                        <input name="file" type="file" class="custom-file-input" id="fileMedia" accept="image/*" style="display:none">
                                                    </div>
                                                    <div class="dropzone-action text-center" style="display: none">
                                                        <button type="button" class="btn btn-cancel">Cancel</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary btn-save-media">
                                                Save changes
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                    <div class="form-category-wrapper">
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <label>Name</label>
                                                <input class="form-control" name="category_name" placeholder="Category Name"/>
                                                <input type="hidden" name="category_id" value="" />
                                            </div>
                                            <div class="text-right mb-2">
                                                <button type="button" class="btn btn-primary btn-save-category">
                                                    Save changes
                                                </button>
                                            </div>


                                            <h4>List Category</h4>
                                            <ul class="list-group media-list-category">
                                                
                                            </ul>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="modal fade" id="modalFormMediaCamera" tabindex="-1" role="dialog" aria-labelledby="modalFormMediaCameraLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalFormMediaCameraLabel">Camera</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="form-media-wrapper">
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label>Category</label>
                                        <select name="category_id" class="form-control">
                                        </select>
                                    </div>
                                    <input type="hidden" name="modal_type" value="camera"/>
                                    <input type="hidden" name="type" value=""/>
                                    <div class="d-flex flex-column align-items-center">
                                        <div id="photoPlayer" class="player-container">
                                            <video id="myPhoto" playsinline class="video-el video-js vjs-default-skin"></video>
                                        </div>
                                        <div id="videoPlayer" class="player-container" style="display:none">
                                            <video id="myVideo" playsinline class="video-el video-js vjs-default-skin"></video>
                                        </div>
                                    </div>
                                    <div class="text-center mt-4">
                                        <button type="button" class="btn btn-warning" id="takePhoto"><i class="fa fa-camera"></i> Take Photo</button>
                                        <button type="button" class="btn btn-warning" id="recordVideo"><i class="fa fa-video"></i> Record Video</button>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary btn-save-camera">
                                        Save changes
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="media-content-wrapper mt-2">
        </div>
    </div>

    <div class="modal fade" id="modalDetailMedia" tabindex="-1" role="dialog" aria-labelledby="modalDetailMediaLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalDetailMediaLabel">Preview</h5>
                    <div>
                    
                        <button type="button" class="btn btn-sm btn-danger btn-delete-media">
                            <i class="fa fa-trash"></i>
                        </button>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
                <div class="modal-body p-0">
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalEditColor" tabindex="-1" role="dialog" aria-labelledby="modalEditColorLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalEditColorLabel">Change Color</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="activity_id" />
                    <input type="color" name="color" />
                </div>
                <div class="modal-footer">
                    <button type="button" id="saveModalEdit" class="btn btn-primary btn-block">Save</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalEdit" tabindex="-1" role="dialog" aria-labelledby="modalEditLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalEditLabel">Edit Activity</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="edit_form" class="form">
                        {% include "templates/components/activity-form.njk" %}
                        <input type="hidden" name="activity_id" value=""/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button id="btn-update-activity" type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{%block header %}
<style>
.changepos-btn-wrapper {
    display: flex;
    flex-direction: column;
    padding: 5px;
}
.changepos-btn-wrapper .btn-up,
.changepos-btn-wrapper .btn-down {
    cursor: pointer;
}

.changepos-btn-wrapper i:hover {
    color: black;
}
.changepos-btn-wrapper i:focus {
    color: #dddddd;
}
#float-wrapper {
    gap: 8px 0;
    margin-bottom: 8px;
}
.report-wrapper input[type="number"] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}
.report-wrapper input[type=number]::-webkit-inner-spin-button, 
.report-wrapper input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
}
.activity-input-float {
    position: relative;
    display: flex;
    align-items: center;
}

.activity-input-float button {
    margin: 12px;
    background: white;
    padding: 3px 10px;
    border: none;
    border-radius: 7px;
    position: absolute;
    color: #4e73df;
    font-weight: bold;
}

.activity-input-float button:hover {
    background: #ddd;
}


.btn-step {
    margin: 0 !important;
}

.activity-input-float button.step-up {
    right:10px;
}

.activity-input-float button.step-down {
    left:10px;
}

.row-activity-float .btn, .btn-mw {
    min-width: 20vw;
}

.activity-edit-container .btn {
    min-width: unset !important;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .row-activity-float .input-group-append {
        width: 50%;
    }

    .row-activity-float .btn, .btn-mw {
        width: 100%;
    }
}

.btn-edit-color {
    font-size: 23px;
    padding: 0 10px;
}

.activity-rearrange-container, .activity-rearrange-container * {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.activity-rearrange-container:active, .activity-rearrange-container *:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}
.scroll-contain {
    overscroll-behavior: contain;
}
.form-control {
    height: 42px !important;
}
.video-el {
    background-color: #ddd;
    width: 100% !important;
}

.video-js {
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.player-container {
    width: 100%;
}
.vjs-record-canvas canvas {
    width: 100%;
}
.is-red-true, .is-red-false {
    border-left-style: solid !important;
    border-left-width: 6px !important;
}

.is-red-true {
    border-left-color: #ff9899 !important;
}

.is-red-false {
    border-left-color: #6ace6b !important;
}
</style>
<link rel="stylesheet" href="vendor/videojs/video-js.min.css">
<link rel="stylesheet" href="vendor/videojs-record/css/videojs.record.min.css">
{%endblock header %}

{% block footer %}
<!-- Template -->

<script type="text/template" data-template="row-activity-float">
    <div class="row mb-3 row-activity row-activity-float" style="padding-left: 0; padding-right: 0" data-id="${activity_id}">
        <div class="col-12"  style="padding-left: 0; padding-right: 0">
            <div class="d-flex flex-nowrap text-center">
                <div class="input-group input-activity-group">
                    ${value_activity_html}
                    <div class="input-group-append">
                        <button type="button" class="btn btn-primary btn-add-value border-0" role="button">${title}</button>
                    </div>
                </div>
                <div class="activity-edit-container" style="display:none">
                    <div class="changepos-btn-wrapper">
                        <i class="btn-up fa fa-caret-up" aria-hidden="true"></i>
                        <i class="btn-down fa fa-caret-down" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>


<script type="text/template" data-template="row-activity-speedrun">
    <div class="row mb-3 row-activity row-activity-textfield" style="padding-left: 0; padding-right: 0" data-id="${activity_id}">
        <div class="col-12"  style="padding-left: 0; padding-right: 0">
            <div class="d-flex flex-nowrap text-center">
                <div class="input-group input-activity-group">
                    <div class="w-50" style="flex: 1 1 auto; ">
                        <div class="activity-input-container h-100">
                            <div class="d-flex speedrun-container h-100" activityId='${activity_id}'>
                                <input type="number" placeholder="h" name="hour" id="hour" class="form-control border border-1 text-center input-activity-value h-100" style="width: 25%">
                                <input type="number" placeholder="m" name="minute" id="minute" class="form-control border border-1 text-center input-activity-value h-100" style="width: 25%">
                                <input type="number" placeholder="s" name="second" id="second" class="form-control border border-1 text-center input-activity-value h-100" style="width: 25%">
                                <input type="number" placeholder="ms" name="millisecond" id="millisecond" class="form-control border border-1 text-center input-activity-value h-100" style="width: 25%">
                            </div>
                        </div>
                        <div class="activity-target-container h-100" style="display:none">
                            <input class="form-control border border-1 input-activity-value h-100 text-center is-red-${is_red}" value='${score_target}' type="text" disabled>
                        </div>
                        <div class="activity-edit-container" activityId='${activity_id}' style="display:none">
                            <div class="form-control border border-1 input-activity-value text-center d-flex align-items-center justify-content-between">
                                <div>
                                    <input class="form-control border border-0 input-activity-position h-100" value='${order_number}' type="number" style="height: auto !important;">
                                </div>
                                <div class="d-flex align-items-center">
                                    <button type="button" class="btn btn-edit-hide ${colorBtnHide}" data-toggle="tooltip" data-placement="top" title="${titleBtnHide} Activity">
                                        <i class="fa ${iconBtnHide}"></i>
                                    </button>
                                    <button type="button" class="btn btn-edit-update text-primary btn-edit-activity" activityId="${id}" data-toggle="tooltip" data-placement="top" title="Edit Activity">
                                        <i class="fa fa-pencil-alt"></i>
                                    </button>
                                    <button type="button" class="btn btn-edit-color" data-toggle="tooltip" data-placement="top" title="Change Color">
                                        <i class="fa fa-square" style="color: ${color}"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="activity-rearrange-container h-100" style="display:none">
                            <div class="form-control border border-1 input-activity-value h-100 text-center bg-gray-200" value=''></div>
                        </div>
                    </div>
                    <div class="input-group-append">
                        <button type="button" class="btn btn-primary w-100 btn-add-value border-0 pt-2" role="button">${title}</button>
                    </div>
                </div>
                <div class="activity-edit-container" style="display:none">
                    <div class="changepos-btn-wrapper">
                        <i class="btn-up fa fa-caret-up" aria-hidden="true"></i>
                        <i class="btn-down fa fa-caret-down" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/template" data-template="row-activity-textfield">
    <div class="row mb-3 row-activity row-activity-textfield" data-id="${activity_id}">
        <div class="col-12"  style="padding-left: 0; padding-right: 0">
            <div class="d-flex flex-nowrap text-center"> 
                <div class="input-group input-activity-group">
                    <input type="text" class="activity-input-container form-control border border-1 input-activity-value h-100" activityId='${activity_id}' placeholder="${placeholder}" aria-label="" style="${style}">
                    <input class="activity-target-container form-control border border-1 input-activity-value h-100 text-center is-red-${is_red}" value='${score_target}' type="text" disabled style="display:none">
                    
                    <div class="activity-edit-container form-control border border-1 input-activity-value text-center" activityId='${activity_id}' style="display:none">
                        <div class="h-100 d-flex align-items-center justify-content-between">
                            <div>
                                <input class="form-control border border-0 input-activity-position h-100" value='${order_number}' type="number" style="height: auto !important;">
                            </div>
                            <div class="d-flex align-items-center">
                                <button type="button" class="btn btn-edit-hide ${colorBtnHide}" data-toggle="tooltip" data-placement="top" title="${titleBtnHide} Activity">
                                    <i class="fa ${iconBtnHide}"></i>
                                </button>
                                <button type="button" class="btn btn-edit-update text-primary btn-edit-activity" activityId="${id}" data-toggle="tooltip" data-placement="top" title="Edit Activity">
                                    <i class="fa fa-pencil-alt"></i>
                                </button>
                                <button type="button" class="btn btn-edit-color" data-toggle="tooltip" data-placement="top" title="Change Color">
                                    <i class="fa fa-square" style="color: ${color}"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="activity-rearrange-container form-control border border-1 input-activity-value h-100 text-center bg-gray-200" style="display:none">${placeholder}</div>
                    <div class="input-group-append">
                        <button class="btn btn-primary btn-add-value border-0" type="button">${title}</button>
                    </div>
                </div>
                <div class="activity-edit-container" style="display:none">
                    <div class="changepos-btn-wrapper">
                        <i class="btn-up fa fa-caret-up" aria-hidden="true"></i>
                        <i class="btn-down fa fa-caret-down" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/template" data-template="editable-value-activity-template">
    <div class="w-50" style="flex: 1 1 auto">
        <div class="activity-input-float activity-input-container h-100">
            <button class="btn-step step-up shadow" type="button">+</button>
            <input class="form-control border border-1 input-activity-value h-100 text-center" activityId='${activity_id}' data-increasevalue="${increase_value}" value='${value}' type="number" style="${style}">
            <button class="btn-step step-down shadow" type="button">-</button>
        </div>
        <div class="activity-target-container h-100" style="display:none">
            <input class="form-control border border-1 input-activity-value h-100 text-center is-red-${is_red}" value='${score_target}' type="text" disabled>
        </div>
        <div class="activity-edit-container" activityId='${activity_id}' style="display:none">
            <div class="form-control border border-1 input-activity-value text-center d-flex align-items-center justify-content-between">
                <div>
                    <input class="form-control border border-0 input-activity-position h-100" value='${order_number}' type="number" style="height: auto !important;">
                </div>
                <div class="d-flex align-items-center">
                    <button type="button" class="btn btn-edit-hide ${colorBtnHide}" data-toggle="tooltip" data-placement="top" title="${titleBtnHide} Activity">
                        <i class="fa ${iconBtnHide}"></i>
                    </button>
                    <button type="button" class="btn btn-edit-update text-primary btn-edit-activity" activityId="${id}" data-toggle="tooltip" data-placement="top" title="Edit Activity">
                        <i class="fa fa-pencil-alt"></i>
                    </button>
                    <button type="button" class="btn btn-edit-color" data-toggle="tooltip" data-placement="top" title="Change Color">
                        <i class="fa fa-square" style="color: ${color}"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="activity-rearrange-container h-100" style="display:none">
            <div class="form-control border border-1 input-activity-value h-100 text-center bg-gray-200">${value}</div>
        </div>
    </div>
</script>

<script type="text/template" data-template="disabled-value-activity-template">
    <div class="activity-input-container w-50" style="flex: 1 1 auto;" >
        <div class="form-control border border-0 bg-gray-200 input-activity-value h-100 p-0 d-flex align-items-center text-center justify-content-center" activityId='${activity_id}' value='${value}' style="${style}">${value}</div>
    </div>
    <div class="activity-target-container w-50" style="flex: 1 1 auto; display:none">
        <div class="form-control border border-0 bg-gray-200 input-activity-value h-100 p-0 d-flex align-items-center text-center justify-content-center is-red-${is_red}">${score_target}</div>
    </div>
    <div class="activity-edit-container" activityId='${activity_id}' style="flex: 1 1 auto; display:none">
        <div class="form-control border border-1 input-activity-value text-center d-flex align-items-center justify-content-between">
            <div>
                <input class="form-control border border-0 input-activity-position h-100" value='${order_number}' type="number" style="height: auto !important;">
            </div>
            <div class="d-flex align-items-center">
                <button type="button" class="btn btn-edit-hide ${colorBtnHide}" data-toggle="tooltip" data-placement="top" title="${titleBtnHide} Activity">
                    <i class="fa ${iconBtnHide}"></i>
                </button>
                <button type="button" class="btn btn-edit-update text-primary btn-edit-activity" activityId="${id}" data-toggle="tooltip" data-placement="top" title="Edit Activity">
                    <i class="fa fa-pencil-alt"></i>
                </button>
                <button type="button" class="btn btn-edit-color" data-toggle="tooltip" data-placement="top" title="Change Color">
                    <i class="fa fa-square" style="color: ${color}"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="activity-rearrange-container w-50" style="flex: 1 1 auto; display:none">
        <div class="form-control border border-0 bg-gray-200 input-activity-value h-100 p-0 d-flex align-items-center text-center justify-content-center">${value}</div>
    </div>
</script>

<script type="text/template" data-template="media-content-template">
    <div class="media-content-item ${className}" data-source='${source}'>
        <img src="${imageSource}" alt="" />
    </div>
</script>
<script type="text/template" data-template="media-detail-youtube-template">
    <input type="hidden" name="media_id" value="${media_id}"/>
    <iframe width="100%" height="500" src="https://www.youtube.com/embed/${source}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
</script>
<script type="text/template" data-template="media-detail-youtube-template">
    <input type="hidden" name="media_id" value="${media_id}"/>
    <img src="${source}" alt="" style="width: 100%" />
</script>
<script type="text/template" data-template="media-detail-image-template">
    <input type="hidden" name="media_id" value="${media_id}"/>
    <img src="${source}" alt="" style="width: 100%" />
</script>
<script type="text/template" data-template="media-detail-video-template">
    <input type="hidden" name="media_id" value="${media_id}"/>
    <video width="100%" height="500" controls>
        <source src="${source}">
        Your browser does not support the video tag.
    </video>
</script>
<script type="text/template" data-template="media-filter-item">
    <a class="dropdown-item filter-category" data-categoryid="${id}" href="#">${name}</a>
</script>
<script type="text/template" data-template="media-category-option">
    <option value="${id}">${name}</option>
</script>
<script type="text/template" data-template="media-category-list-template">
<li class="list-group-item d-flex justify-content-between" data-category='${dataJson}'>
    <div>
        ${name}
    </div>
    <div class="btn-group">
        <button type="button" class="btn-edit-category btn btn-primary btn-sm"><i class="fa fa-edit"></i></button>
        <button type="button" class="btn-delete-category btn btn-danger btn-sm"><i class="fa fa-trash"></i></button>
    </div>
</li>
</script>
<script src="vendor/recordrtc/RecordRTC.min.js"></script>
<script src="vendor/videojs/video.js"></script>
<script src="vendor/videojs-record/videojs.record.js"></script>
<script src="vendor/webrtc-adapter/adapter.js"></script>
<script src="js/app/pages/index.js?v=1"></script>
{% endblock footer %}