{% extends "templates/index.njk" %}

{% block content %}
<!-- Report -->
<div class="report-wrapper">
    <!-- template row activity -->
</div>
{% endblock content %}

{% block footer %}
<!-- Template -->
<script type="text/template" data-template="row-activity-float">
    <div class="row mb-3 row-activity-float">
        <div class="left-side col-6 px-1 input-group flex-nowrap text-center input-activity-group">
            ${value_activity_left_side_html}
            <div class="input-group-append w-50">
                <a href="#" class="btn btn-primary w-100 btn-add-value" role="button">${title_left_side}</a>
            </div>
        </div>
        <div class="right-side col-6 px-1 input-group flex-nowrap text-center input-activity-group">
            ${value_activity_right_side_html}
            <div class="input-group-append w-50">
                <a href="#" class="btn btn-primary w-100 btn-add-value" role="button">${title_right_side}</a>
            </div>
        </div>
    </div>
</script>

<script type="text/template" data-template="row-activity-textfield">
    <div class="row mb-3 row-activity-textfield">
        <div class="col-12 px-1 input-group flex-nowrap text-center input-activity-group">
            <input type="text" class="form-control border border-1 input-activity-value" activityId='${activity_id}' placeholder="Text Field" aria-label="Text Field">
            <div class="input-group-append">
                <button class="btn btn-primary btn-add-value" type="button">${title}</button>
            </div>
        </div>
    </div>
</script>

<script type="text/template" data-template="editable-value-activity-template">
    <input class="form-control border border-0 bg-white text-center w-50 input-activity-value" activityId='${activity_id}' value='${value}' type="number">
</script>

<script type="text/template" data-template="disabled-value-activity-template">
    <p class="form-control border border-0 bg-gray-200 w-50 input-activity-value" activityId='${activity_id}' value='${value}'>${value}</p>
</script>
<script src="js/app/pages/index.js"></script>
{% endblock footer %}