{% extends "templates/index.njk" %}
{% block title %}Form{% endblock title %}

{% block content %}
<!-- Form -->
<div class="form-wrapper">
    <div id="demo_form" class="form">
        <div class="form-group d-flex flex-nowrap align-items-center">
            <label for="title">Title</label>
            <input type="text" name="title" id="title" class="form-control" placeholder="Activity Title" value="Toilet">
        </div>
        <div class="form-group d-flex flex-nowrap align-items-center">
            <label for="value">Value</label>
            <input type="text" name="value" id="value" class="form-control" placeholder="Activity Default Value" value="50">
        </div>
        <div class="form-group d-flex flex-nowrap align-items-center">
            <label for="target">Target</label>
            <input type="number" name="target" id="target" class="form-control" min="50" placeholder="Activity Target" value="100">
        </div>
        <div class="form-group d-flex flex-nowrap align-items-center">
            <label for="target">Color</label>
            <input type="hidden" name="color" id="color" class="form-control" placeholder="Color" value="#4e73df">
        </div>
        <div class="form-group form-check form-check-inline checkbox-lg">
            <input type="checkbox" name="is_editable" id="is_editable" class="form-check-input">
            <label class="form-check-label" for="is_editable">Can change value</label>
        </div>
        <div class="form-group form-check form-check-inline checkbox-lg">
            <input type="checkbox" name="is_use_textfield" id="is_use_textfield" class="form-check-input">
            <label class="form-check-label" for="is_use_textfield">Use textfield</label>
        </div>
        <div class="form-group d-flex flex-nowrap align-items-center">
            <label>If you check "Use textfield", then the target will be count of your histories</label>
        </div>
        <div class="form-group text-right">
            <button id="submit-btn" class="btn btn-primary ml-auto">Create Activity</button>
        </div>
    </div>
    {# </form> #}
</div>
{% endblock content %}

{% block header %}
<link href="/vendor/spectrum-colorpicker/spectrum.css" rel="stylesheet" type="text/css">
{% endblock header %}

{% block footer %}
<script src="/vendor/spectrum-colorpicker/spectrum.js"></script>
<script src="/js/app/pages/form.js"></script>
{% endblock footer %}