{% extends "templates/index.njk" %}
{% set active_menu = 'pointTransaction' %}
{% block title %}Point Transaction{% endblock title %}

{% block content %}
<!-- Data Talbe New -->

<div class="table-point" style="display:none">
    {# <div class="d-flex justify-content-between mb-3">
        <p><i class="fas fa-info-circle mr-2"></i>Tap on Date, Time, and Value to edit</p>
        <div class='delete-btn-group'>
            <div class='btn btn-danger btn-select-bulk-delete'>Bulk Delete</div>
            <div class='btn btn-secondary btn-cancel-bulk-delete' style='display:none'>Cancel</div>
            <div class='btn btn-danger btn-confirm-bulk-delete' style='display:none'>Delete Now</div>
        </div>    
    </div> #}
    <div class="d-flex flex-wrap" style="gap: 10px">
        <div>
            <div class="form-group">
                <label>Activity</label>
                <select id="filterActivity" class="form-control">
                    <option value="">All</option>
                </select>
            </div>
        </div>
        <div>
            <div class="form-group">
                <label>Month</label>
                <select id="filterMonth" class="form-control">
                    <option value="">All</option>
                </select>
            </div>
        </div>
        <div>
            <div class="form-group">
                <label>Year</label>
                <input type="number" class="form-control" id="filterYear" style="max-width:150px"/>
            </div>
        </div>
    </div>
    <div>
        <button id="filterBtn" class="btn btn-primary">Filter</button>
    </div>
    <table class="mt-3 table data-table table-bordered" id="history_table" data-show-toggle="true" data-expand-first="false" data-paging="true" data-paging-size="10" data-paging-position="center" data-filtering="true" data-sorting="true">
        <thead>
            <tr>
                <th style='display:none' class='table-header-checkbox'></th>
                <th data-breakpoints="xs">Name</th>
                <th data-breakpoints="xs">Point</th>
                <th>Date</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody class="list-history">
            <!-- template row history -->
        </tbody>
    </table>
</div>
{% endblock content %}

{% block header %}
<!-- Page level plugin style -->
<link href="vendor/footable-bootstrap/css/footable.bootstrap.min.css" rel="stylesheet">
{% endblock header %}

{% block footer %}
<script type="text/template" data-template="row-history">
    <tr data-historyid="${id}" data-activityid="${activity_id}">
        <td style='display:none' class='table-row-checkbox'><input type="checkbox"></td>
        <td>${activity_title}</td>
        <td data-editable="false" data-name="value" data-usetextfield="${useTextField}">${value}</td>
        <td data-editable="false" data-name="date">${date}</td>
        <td data-editable="false" data-name="time">${time}</td>
    </tr>
</script>
<script type="text/template" data-template="row-empty-content">
    <tr>
        <td colspan="5">
            {% include "templates/components/empty-box.njk" %}
        </td>
    </tr>
</script>
<script type="text/template" data-template="row-editable">
    <div class="input-group input-editable-container">
        <input name="${name}" type="text" class="form-control w-auto input-editable" value="${value}" />
        <div class="input-group-append">
            <div class="btn-group">
                <button type="button" class="btn btn-primary w-100 btn-save-editable" role="button"><i class="fa fa-save"></i></button>
                <button type="button" class="btn btn-secondary w-100 btn-cancel-editable" role="button"><i class="fa fa-times"></i></button>
            </div>
        </div>
    </div>
</script>
<script src="vendor/footable-bootstrap/js/footable.min.js"></script>
<script src="js/app/pages/pointTransaction.js"></script>
{% endblock footer %}