{% extends "templates/index.njk" %}
{% set active_menu = 'setting' %}
{% block title %}Setting{% endblock title %}

{% block content %}
<h3>Enable Beep Sound</h3>
<div class="custom-control custom-switch">
  <input type="checkbox" class="custom-control-input" id="toggleBeepSound">
  <label class="custom-control-label" for="toggleBeepSound">Enable  Beep Sound</label>
<hr/>
</div>

<div class="mt-5">
    <h3>Enable Point System</h3>
    <div class="custom-control custom-switch">
        <input type="checkbox" class="custom-control-input" id="togglePointSystem">
        <label class="custom-control-label" for="togglePointSystem">Enable  Point System</label>
    </div>
    <hr/>
</div>

<div class="mt-5">
    <h3>Enable Parental Inspection</h3>
    <div class="custom-control custom-switch">
        <input type="checkbox" class="custom-control-input" id="toggleParentalInspection">
        <label class="custom-control-label" for="toggleParentalInspection">Enable Parental Inspection</label>
    </div>
    <div class="mt-4 section-parentalInspection-menu form-group" style="display: none; max-width: 300px">
        <label class="label-form" for="title">Parent Email</label>
        <div class="input-group">
            <input type="email" name="email" id="emailParent" class="form-control" placeholder="Input parent email">
            <div class="input-group-append">
                <button type="button" class="btn btn-primary" id="btnSaveEmail">Save</button>
            </div>
        </div>
    </div>
    <div class="mt-4 section-parentalInspectionHasChild-menu" style="display: none">
        <h4>Import</h4>
        <div>
            Import all activities for <span class="childs_count_text">0 student</span>
        </div>
        <button type="button" class="btn btn-warning mt-3" id="btnImportActivities"><i class="fa fa-file-import"></i> Import</button>
    </div>
    <hr/>
</div>

<div class="mt-5">
    <h3>Configure FOCUS Point</h3>
    <div class="row">
        <div class="col-lg-6 col-sm-12">
            {% for i in range(0, 10) -%}
            <div class="form-group d-flex flex-nowrap align-items-center">
                <label class="label-form" for="title">Day {{ i+1 }}</label>
                <input type="number" name="day[{{ i+1 }}]" class="form-control input-point-focus" placeholder="">
            </div>
            {%- endfor %}
            <p class="mt-3"><i class="fas fa-info-circle mr-2"></i>More then 10 days will be using the day 10th point award</p>
            <button id="btnSavePointFocus" class="btn btn-primary mt-2">
                Save Changes
            </button>
        </div>
    </div>
    <hr/>
</div>


<div class="form-wrapper mt-5">
    <h3 class="mb-2">Add Application Log</h3>
    <div id="application_log_form" class="form">
        <div class="form-group d-flex flex-nowrap align-items-center">
            <label class="label-form" for="title">Version</label>
            <input type="text" name="application_log_version" id="application_log_version" class="form-control" placeholder="v 0.2">
        </div>
        <div class="form-group d-flex flex-nowrap align-items-center">
            <label class="label-form" for="value">Description</label>
            <textarea type="text" name="application_log_description" id="application_log_description" class="form-control" placeholder="This application have new features x,y,z"></textarea>
        </div>
        <div class="form-group text-right">
            <button id="submit-application-log-btn" class="btn btn-primary ml-auto">Create Application Log</button>
        </div>
    </div>
    {# </form> #}
</div>

<div class="table-application-log" style="display:none">
    <h3 class="mb-2">List Application Log</h3>
    <table class="table data-table table-bordered" id="application_log_table" data-show-toggle="true" data-expand-first="false" data-paging="true" data-paging-size="10" data-paging-position="center" data-filtering="true" data-sorting="true">
        <thead>
            <tr>
                <th>Version</th>
                <th>Description</th>
                <th class="action" style="width: 150px">Action</th>
            </tr>
        </thead>
        <tbody class="list-application-log">
            <!-- template row application log -->
        </tbody>
    </table>
</div>

<div class="modal fade" id="modalEditApplicationLog" tabindex="-1" role="dialog" aria-labelledby="modalEditLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalEditLabel">Edit Application Log</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="edit_form_application_log" class="form">
                    <div class="form-group d-flex flex-nowrap align-items-center">
                        <label for="version2">Version</label>
                        <input type="text" name="version2" id="version2" class="form-control" placeholder="Application log version">
                    </div>
                    <div class="form-group d-flex flex-nowrap align-items-center">
                        <label for="description2">Description</label>
                        <textarea type="text" name="value2" id="description2" class="form-control" placeholder="Application log description"></textarea>
                    </div>
                    <input type="hidden" name="application_log_id" value=""/>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="btn-update-application-log" type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block footer %}
<script type="text/template" data-template="row-application-log">
    <tr>
        <td>${version}</td>
        <td>${description}</td>
        <td class="action">
            <button class="btn-edit-application-log" applicationLogId="${id}">Edit</button>
            <button class="btn-delete-application-log" applicationLogId="${id}">Delete</button>
        </td>
    </tr>
</script>

<script type="text/template" data-template="option-activity">
    <option value="${id}" useTextfield=${useTextfield}>${title}</option>
</script>
<script src="js/app/pages/setting.js"></script>
{% endblock footer %}