{% include 'templates/partials/header.njk' %}
<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    {% include 'templates/partials/sidebar.njk' %}
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link rounded-circle">
                    <i class="fa fa-bars"></i>
                </button>

                <!-- Report Button (Topbar) -->
                <a href="#" id="reportBtnTop" class="btn btn-link rounded text-white text-lg ml-auto" role="button">Report</a>

            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                {% block content %}
                {% endblock content %}

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Your Website 2021</span>
                </div>
            </div>
        </footer.njk>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
{% include 'templates/partials/footer.njk' %}
