<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion toggled" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/index.html">
        <div class="sidebar-brand-icon">
            {# <i class="fas fa-laugh-wink"></i> #}
            <img src="https://upload.wikimedia.org/wikipedia/commons/6/63/Fitness_logo_watchos.png" style="width: 100%; padding: 10px"/>
        </div>
        <div class="sidebar-brand-text mx-3">Activity App</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Home -->
    <li class="nav-item {% if active_menu == 'home' %}active{% endif %}">
        <a class="nav-link" href="/index.html">
            <i class="fas fa-fw fa-home"></i>
            <span>Home</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Nav Item - History -->
    <li class="nav-item {% if active_menu == 'history' %}active{% endif %}">
        <a class="nav-link" href="/history.html">
            <i class="fas fa-fw fa-history"></i>
            <span>History</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Nav Item - Report -->
    <li class="nav-item {% if active_menu == 'report' %}active{% endif %}">
        <a class="nav-link" href="/report/index.html">
            <i class="far fa-fw fa-copy"></i>
            <span>Report</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Nav Item - Report -->
    <div class="section-point-menu" style="display:none">
        <li class="nav-item {% if active_menu == 'pointTransaction' %}active{% endif %}">
            <a class="nav-link" href="/pointTransaction.html">
                <i class="fas fa-coins"></i>
                <span>Point Transaction</span>
            </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">
    </div>

    <div class="section-parentalInspectionHasChild-menu" style="display:none">
        <li class="nav-item {% if active_menu == 'students' %}active{% endif %}">
            <a class="nav-link" href="/students/index.html">
                <i class="fas fa-users"></i>
                <span>Students</span>
            </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">
    </div>

    <!-- Nav Item - Form -->
    <li class="nav-item {% if active_menu == 'activity' %}active{% endif %}">
        <a class="nav-link" href="/form.html">
            <i class="fas fa-fw fa-table"></i>
            <span>Activity</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Nav Item - Import -->
    <li class="nav-item {% if active_menu == 'import' %}active{% endif %}">
        <a class="nav-link" href="/import.html">
            <i class="fas fa-fw fa-file-import"></i>
            <span>Import</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Nav Item - Setting -->
    <li class="nav-item {% if active_menu == 'setting' %}active{% endif %}">
        <a class="nav-link" href="/setting.html">
            <i class="fas fa-sliders-h"></i>
            <span>Setting</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>