
<div class="form-group d-flex flex-nowrap align-items-center">
    <label for="title">Type</label>
    <div>
        <select class="form-control" name="type" style="width:auto;">
            <option value="value">Number Count</option>
            <option value="count">Text Count</option>
            <option value="speedrun">Stopwatch</option>
            {# <option value="alarm">Alarm</option> #}
            <option value="badhabit">Bad Habit</option>
        </select>
    </div>
</div>
<div class="form-group d-flex flex-nowrap align-items-center">
    <label for="title">Title</label>
    <input type="text" name="title" class="form-control" placeholder="Activity Title">
</div>
<div class="form-group d-flex flex-nowrap align-items-center">
    <label for="description">Description</label>
    <input type="text" name="description" class="form-control" placeholder="Activity Description">
</div>
<div class="form-group d-flex flex-nowrap align-items-center">
    <label for="color">Color</label>
    <input type="color" name="color" class="form-control" placeholder="Color" value="#3987fd">
</div>
<div class="row"> 
    <div class="col-9">
        <div class="form-group d-flex flex-nowrap align-items-center value-container">
            <label for="value">Value</label>
            <input type="number" name="value" class="form-control" placeholder="Activity Default Value">
        </div>
    </div>
    <div class="col-3 p-0">
        <div class="form-group form-check form-can-change form-check-inline checkbox-lg">
            <input type="checkbox" name="is_editable" class="form-check-input" checked>
            <label class="form-check-label" for="is_editable" >Editable</label>
        </div>
    </div>
</div>
<div class="value-speedrun-container" style="display: none !important;">
    <div class="form-group d-flex flex-nowrap align-items-center">
        <label for="value">Target Duration</label>
        <div class="d-flex">
            <input type="number" placeholder="h" name="hour" class="form-control" style="width: 70px">
            <input type="number" placeholder="m" name="minute" class="form-control" style="width: 70px">
            <input type="number" placeholder="s" name="second" class="form-control" style="width: 70px">
            <input type="number" placeholder="ms" name="millisecond" class="form-control" style="width: 70px">
        </div>
    </div>
    <div class="form-group d-flex flex-nowrap align-items-center">
        <div style="min-width: 150px">
        </div>
        <div class="form-group form-check form-check-inline checkbox-lg">
            <input type="checkbox" name="is_ms_enable" class="form-check-input" checked>
            <label class="form-check-label" for="is_ms_enable" >Enable MS Field</label>
        </div>
    </div>
    <div class="form-group d-flex flex-nowrap align-items-center">
        <label for="value">Criteria</label>
        <select name="criteria" class="form-control">
            <option value="longer" selected>Longer Better</option>
            <option value="shorter">Shorter Better</option>
        </select>
    </div>
</div>
<div class="form-group d-flex flex-nowrap align-items-center target-container">
    <label for="target">Monthly Target</label>
    <input type="number" name="target" class="form-control" min="50" placeholder="Count Target">
</div>
<div class="form-group d-flex flex-nowrap align-items-center increase-value-container">
    <label for="value">Increase Value</label>
    <input type="number" name="increase_value" class="form-control" placeholder="Increase Value" value="1">
</div>
<div class="form-group d-flex flex-nowrap align-items-center">
    <label for="value">Hide</label>
    <select name="is_hide" class="form-control">
        <option value="1">Yes</option>
        <option value="0" selected>No</option>
    </select>
</div>
<div class="point-system-form mt-4" style="display:none">
    <h4 class="font-weight-bold">Point System</h4>
    <div class="form-group d-flex flex-nowrap align-items-center">
        <label for="value">Bonus Value</label>
        <input type="number" name="bonus_value" class="form-control" placeholder="Bonus Value" value="">
    </div>
    <div class="form-group d-flex flex-nowrap align-items-center">
        <label for="value">Penalty Value</label>
        <input type="number" name="penalty_value" class="form-control" placeholder="Penalty Value" value="">
    </div>
    <div class="form-group d-flex flex-nowrap align-items-center">
        <label for="value">Point Weight</label>
        <input type="number" name="point_weight" class="form-control" placeholder="Point Weight" value="1">
    </div>
</div>